.env
# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/

# Virtual environment
# Change "venv" to the name of your virtual environment folder if different.
venv/
.venv/

# IDE-specific files (VS Code, PyCharm, etc.)
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows

# Miscellaneous
# Logs and database files
*.log
*.sqlite
.env # for python-dotenv

# Testing and coverage
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class

### vi ###
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
